<!-- site-main -->
<div id="main" class="site-main">
  <!-- post-slider -->
  <div
    class="post-slider owl-carousel"
    data-items="3"
    data-loop="true"
    data-center="true"
    data-mouse-drag="true"
    data-nav="true"
    data-dots="false"
    data-autoplay="false"
    data-autoplay-speed="600"
    data-autoplay-timeout="2000"
  >
    <!-- post -->
    <div
      class="post-thumbnail"
      style="background-image: url(images/blog/01.jpg)"
    >
      <!-- .entry-header -->
      <header class="entry-header">
        <!-- .entry-meta -->
        <div class="entry-meta">
          <span class="cat-links">
            <a href="#" title="View all posts in Life" rel="category tag"
              >Life</a
            >
          </span>
        </div>
        <!-- .entry-meta -->

        <!-- .entry-title -->
        <h2 class="entry-title">
          <a href="blog-single.html">Embracing Minimalist Lifestyle</a>
        </h2>

        <p><a href="blog-single.html" class="more-link">View Post</a></p>
      </header>
      <!-- .entry-header -->
    </div>
    <!-- post -->

    <!-- post -->
    <div
      class="post-thumbnail"
      style="background-image: url(images/blog/02.jpg)"
    >
      <!-- .entry-header -->
      <header class="entry-header">
        <!-- .entry-meta -->
        <div class="entry-meta">
          <span class="cat-links">
            <a href="#" title="View all posts in Travel" rel="category tag"
              >Travel</a
            >
          </span>
        </div>
        <!-- .entry-meta -->

        <!-- .entry-title -->
        <h2 class="entry-title">
          <a href="blog-single.html">My Life as a Digital Nomad</a>
        </h2>

        <p><a href="blog-single.html" class="more-link">View Post</a></p>
      </header>
      <!-- .entry-header -->
    </div>
    <!-- post -->

    <!-- post -->
    <div
      class="post-thumbnail"
      style="background-image: url(images/blog/03.jpg)"
    >
      <!-- .entry-header -->
      <header class="entry-header">
        <!-- .entry-meta -->
        <div class="entry-meta">
          <span class="cat-links">
            <a href="#" title="View all posts in Travel" rel="category tag"
              >Stuff</a
            >
          </span>
        </div>
        <!-- .entry-meta -->

        <!-- .entry-title -->
        <h2 class="entry-title">
          <a href="blog-single.html">Mastering Portrait Photography</a>
        </h2>

        <p><a href="blog-single.html" class="more-link">View Post</a></p>
      </header>
      <!-- .entry-header -->
    </div>
    <!-- post -->

    <!-- post -->
    <div
      class="post-thumbnail"
      style="background-image: url(images/blog/04.jpg)"
    >
      <!-- .entry-header -->
      <header class="entry-header">
        <!-- .entry-meta -->
        <div class="entry-meta">
          <span class="cat-links">
            <a href="#" title="View all posts in Travel" rel="category tag"
              >Travel</a
            >
          </span>
        </div>
        <!-- .entry-meta -->

        <!-- .entry-title -->
        <h2 class="entry-title">
          <a href="blog-single.html">Having Fun With Polar Bears</a>
        </h2>

        <p><a href="blog-single.html" class="more-link">View Post</a></p>
      </header>
      <!-- .entry-header -->
    </div>
    <!-- post -->

    <!-- post -->
    <div
      class="post-thumbnail"
      style="background-image: url(images/blog/05.jpg)"
    >
      <!-- .entry-header -->
      <header class="entry-header">
        <!-- .entry-meta -->
        <div class="entry-meta">
          <span class="cat-links">
            <a href="#" title="View all posts in Travel" rel="category tag"
              >Tips</a
            >
          </span>
        </div>
        <!-- .entry-meta -->

        <!-- .entry-title -->
        <h2 class="entry-title">
          <a href="blog-single.html">How To Write Kick-ass Articles</a>
        </h2>

        <p><a href="blog-single.html" class="more-link">View Post</a></p>
      </header>
      <!-- .entry-header -->
    </div>
    <!-- post -->
  </div>
  <!-- post-slider -->

  <div class="layout-medium">
    <div id="primary" class="content-area">
      <!-- site-content -->
      <div id="content" class="site-content" role="main">
        <!-- entry-header -->
        <!--<header class="entry-header">
                        	<h1 class="entry-title">Latest Stories</h1>
                        </header>-->
        <!-- entry-header -->

        <!-- BLOG LIST -->
        <div class="blog-list blog-stream">
          <!-- .hentry -->
          <article class="hentry post has-post-thumbnail">
            <!-- .featured-image -->
            <div class="featured-image">
              <a href="blog-single.html"
                ><img src="images/blog/07.jpg" alt="blog-image"
              /></a>
            </div>
            <!-- .featured-image -->

            <!-- .hentry-middle -->
            <div class="hentry-middle">
              <!-- .entry-header -->
              <header class="entry-header">
                <!-- .entry-meta -->
                <div class="entry-meta">
                  <span class="cat-links">
                    <a
                      href="#"
                      title="View all posts in Adventure"
                      rel="category tag"
                      >LIFE</a
                    >
                  </span>
                  <span class="entry-date">
                    <time
                      class="entry-date"
                      datetime="2014-07-13T04:34:10+00:00"
                      >June 7, 2014</time
                    >
                  </span>
                  <span class="comment-link">
                    <a href="blog-single.html#comments">12 Comments</a>
                  </span>
                </div>
                <!-- .entry-meta -->

                <!-- .entry-title -->
                <h2 class="entry-title">
                  <a href="blog-single.html">Article Title</a>
                </h2>
              </header>
              <!-- .entry-header -->

              <!-- .entry-content -->
              <div class="entry-content">
                <p>
                  All I've got to do is pass as an ordinary human being. Simple.
                  What could possibly go wrong? Stop talking, brain thinking.
                  Hush. I hate yogurt. It's just stuff with bits in. I'm
                  nobody's taxi..
                  <span class="more">
                    <a href="blog-single.html" class="more-link">Read More</a>
                  </span>
                </p>
              </div>
              <!-- .entry-content -->
            </div>
            <!-- .hentry-middle -->
          </article>
          <!-- .hentry -->

          <!-- .hentry -->
          <article class="hentry post has-post-thumbnail">
            <!-- .featured-image -->
            <div class="featured-image">
              <a href="blog-single.html"
                ><img src="images/blog/08.jpg" alt="blog-image"
              /></a>
            </div>
            <!-- .featured-image -->

            <!-- .hentry-middle -->
            <div class="hentry-middle">
              <!-- .entry-header -->
              <header class="entry-header">
                <!-- .entry-meta -->
                <div class="entry-meta">
                  <span class="cat-links">
                    <a
                      href="#"
                      title="View all posts in Adventure"
                      rel="category tag"
                      >LIFE</a
                    >
                  </span>
                  <span class="entry-date">
                    <time
                      class="entry-date"
                      datetime="2014-07-13T04:34:10+00:00"
                      >June 7, 2014</time
                    >
                  </span>
                  <span class="comment-link">
                    <a href="blog-single.html#comments">12 Comments</a>
                  </span>
                </div>
                <!-- .entry-meta -->

                <!-- .entry-title -->
                <h2 class="entry-title">
                  <a href="blog-single.html">Article Title</a>
                </h2>
              </header>
              <!-- .entry-header -->

              <!-- .entry-content -->
              <div class="entry-content">
                <p>
                  All I've got to do is pass as an ordinary human being. Simple.
                  What could possibly go wrong? Stop talking, brain thinking.
                  Hush. I hate yogurt. It's just stuff with bits in. I'm
                  nobody's taxi..
                  <span class="more">
                    <a href="blog-single.html" class="more-link">Read More</a>
                  </span>
                </p>
              </div>
              <!-- .entry-content -->
            </div>
            <!-- .hentry-middle -->
          </article>
          <!-- .hentry -->

          <!-- .hentry -->
          <article class="hentry post has-post-thumbnail">
            <!-- .featured-image -->
            <div class="featured-image">
              <a href="blog-single.html"
                ><img src="images/blog/09.jpg" alt="blog-image"
              /></a>
            </div>
            <!-- .featured-image -->

            <!-- .hentry-middle -->
            <div class="hentry-middle">
              <!-- .entry-header -->
              <header class="entry-header">
                <!-- .entry-meta -->
                <div class="entry-meta">
                  <span class="cat-links">
                    <a
                      href="#"
                      title="View all posts in Adventure"
                      rel="category tag"
                      >LIFE</a
                    >
                  </span>
                  <span class="entry-date">
                    <time
                      class="entry-date"
                      datetime="2014-07-13T04:34:10+00:00"
                      >June 7, 2014</time
                    >
                  </span>
                  <span class="comment-link">
                    <a href="blog-single.html#comments">12 Comments</a>
                  </span>
                </div>
                <!-- .entry-meta -->

                <!-- .entry-title -->
                <h2 class="entry-title">
                  <a href="blog-single.html">Article Title</a>
                </h2>
              </header>
              <!-- .entry-header -->

              <!-- .entry-content -->
              <div class="entry-content">
                <p>
                  All I've got to do is pass as an ordinary human being. Simple.
                  What could possibly go wrong? Stop talking, brain thinking.
                  Hush. I hate yogurt. It's just stuff with bits in. I'm
                  nobody's taxi..
                  <span class="more">
                    <a href="blog-single.html" class="more-link">Read More</a>
                  </span>
                </p>
              </div>
              <!-- .entry-content -->
            </div>
            <!-- .hentry-middle -->
          </article>
          <!-- .hentry -->

          <!-- .hentry -->
          <article class="hentry post has-post-thumbnail">
            <!-- .featured-image -->
            <div class="featured-image">
              <a href="blog-single.html"
                ><img src="images/blog/10.jpg" alt="blog-image"
              /></a>
            </div>
            <!-- .featured-image -->

            <!-- .hentry-middle -->
            <div class="hentry-middle">
              <!-- .entry-header -->
              <header class="entry-header">
                <!-- .entry-meta -->
                <div class="entry-meta">
                  <span class="cat-links">
                    <a
                      href="#"
                      title="View all posts in Adventure"
                      rel="category tag"
                      >LIFE</a
                    >
                  </span>
                  <span class="entry-date">
                    <time
                      class="entry-date"
                      datetime="2014-07-13T04:34:10+00:00"
                      >June 7, 2014</time
                    >
                  </span>
                  <span class="comment-link">
                    <a href="blog-single.html#comments">12 Comments</a>
                  </span>
                </div>
                <!-- .entry-meta -->

                <!-- .entry-title -->
                <h2 class="entry-title">
                  <a href="blog-single.html">Article Title</a>
                </h2>
              </header>
              <!-- .entry-header -->

              <!-- .entry-content -->
              <div class="entry-content">
                <p>
                  All I've got to do is pass as an ordinary human being. Simple.
                  What could possibly go wrong? Stop talking, brain thinking.
                  Hush. I hate yogurt. It's just stuff with bits in. I'm
                  nobody's taxi..
                  <span class="more">
                    <a href="blog-single.html" class="more-link">Read More</a>
                  </span>
                </p>
              </div>
              <!-- .entry-content -->
            </div>
            <!-- .hentry-middle -->
          </article>
          <!-- .hentry -->
        </div>
        <!-- BLOG LIST -->

        <!-- post pagination -->
        <nav class="post-pagination">
          <ul class="pagination">
            <li class="pagination-first"><a href="#"> First </a></li>
            <li class="pagination-prev"><a href="#" rel="prev"></a></li>
            <li class="pagination-num"><a href="#"> 1 </a></li>
            <li class="pagination-num current"><a href="#"> 2 </a></li>
            <li class="pagination-num"><a href="#"> 3 </a></li>
            <li class="pagination-next"><a href="#" rel="next"></a></li>
            <li class="pagination-last"><a href="#"> Last </a></li>
          </ul>
        </nav>
        <!-- post pagination -->
      </div>
      <!-- site-content -->
    </div>
    <!-- primary -->
  </div>
  <!-- layout -->
</div>
