<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="layout-medium">
        <div class="site-title-wrap">

            <h1 class="site-title">
                <a href="index.html" rel="home">
                    <img src="images/site/logo.png" alt="logo">
                </a>
            </h1>
            <!-- site-title -->

            <p class="site-description">just living the life as it goes by</p>

        </div>
        <!-- site-title-wrap -->


        <!-- footer-social -->
        <div class="footer-social">

            <div class="textwidget">
                <a class="social-link facebook" href="#"></a>
                <a class="social-link twitter" href="#"></a>
                <a class="social-link vine" href="#"></a>
                <a class="social-link dribbble" href="#"></a>
                <a class="social-link instagram" href="#"></a>
            </div>

        </div>
    </div>
    <!-- layout-medium -->


    <!-- .site-info -->
    <div class="site-info">

        <!-- layout-medium -->
        <div class="layout-medium">

            <div class="textwidget">crafted with <i class="pw-icon-heart"></i> <em>by</em> Pixelwars</div>

        </div>
        <!-- layout-medium -->

    </div>
    <!-- .site-info -->



</footer>